# Byte-compiled
__pycache__/
*.py[cod]
*.txt
# Env
.env
.venv/
venv/
myenv/
# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Docker
pgdata/
aidata/
# OS
.DS_Store
Thumbs.db
